In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
cars = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter06/Dataset/car.data', names=_headers, index_col=None)
cars.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [6]:
cars.shape

(1728, 7)

In [7]:
30/100*(1728)

518.4

In [10]:
train, evalu = train_test_split(cars, test_size=0.3, random_state=0)

In [11]:
val,test =train_test_split(cars, test_size=0.5, random_state=0)