### Introduction to Pandas

In [1]:
##Import the package
import pandas

In [2]:
#Creating a dataset from a dictionary
temp_data ={'Phones' : ['Samsumg', 'iphone','Tecno', 'Gionee','Infinix'],
             'Ranking' : [1 ,2,4,5,3]}
data = pandas.DataFrame(temp_data)
print(data)

    Phones  Ranking
0  Samsumg        1
1   iphone        2
2    Tecno        4
3   Gionee        5
4  Infinix        3

In [3]:
# Using the alias name pd
import pandas as pd

In [4]:
# checking the version

print(pd.__version__)

1.3.4

### Pandas Series
A pandas series is like a colunm in a table

In [5]:
m = [2,4,6,8,]# a python list 
var= pd.Series(m)#Note the first S in series must be in capital letter
print(var)

0    2
1    4
2    6
3    8
dtype: int64

In [6]:
#### Labels
print(var[1])

4

In [7]:
### Create labels
var= pd.Series(m, index=['a','b','c','d'])#Note the first S in series must be in capital letter
print(var)

a    2
b    4
c    6
d    8
dtype: int64

In [8]:
##Creating an index for the dataframe
temp_data ={'Phones' : ['Samsumg', 'iphone','Tecno', 'Gionee','Infinix'],
             'Ranking' : [1 ,2,4,5,3]}
data = pandas.DataFrame(temp_data, index=['i','ii','iii','iv','v'])
print(data)

      Phones  Ranking
i    Samsumg        1
ii    iphone        2
iii    Tecno        4
iv    Gionee        5
v    Infinix        3

In [10]:
# Accessing the items via Labels
print(var['b'])

4

#### Key / Values Objects as a series

In [11]:
# Creating a Pandas Series with a dictionary
weight_loss_diet = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(weight_loss_diet)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [12]:
## 
weight_loss_diet = {"day1": 420, "day2": 380, "day3": 390}

var = pd.Series(weight_loss_diet,index = ["day1", "day2"])

print(var)

day1    420
day2    380
dtype: int64

### DataFrames

In [13]:
# DataFrames can also be created from two pandasseries
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45