## Datetime

In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2022-05-26 13:50:02.089997

In [2]:
x = datetime.datetime(2020, 9, 11)

print(x.strftime("%a"))

Fri

In [3]:
x = datetime.datetime(2020, 9, 11)

print(x.strftime("%x"))

09/11/20

### Maths

In [4]:
#Absolute a.k.a Abs
a=abs(-2)
print(a)

2

In [5]:
x = pow(3, 5)

print(x)

243

In [6]:
import math

x = math.sqrt(64)

print(x)

8.0

In [7]:
import math

x = math.ceil(1.1)
y = math.floor(1.1)

print(x) # returns 2
print(y) # returns 1

2
1

In [ ]:
import math

x = math.pi

print(x)

## Json

In [11]:
 a= {
        "id": 3041,
        "name": "Martin Wilson",
        "email": "ravencomputer667@gmail.com",
        "password": "martin@123",
        "about": "Travelers, ",
        "token": "18ceb759-241c-43d3-a9eb-5344ea2ef1d9",
        "country": None,
        "location": "Moorgate Station (Stop N), London EC2Y 5EJ, UK",
        "lng": 0,
        "lat": 0,
        "dob": "2019-12-11T12:29:13",
        "gender": 1,
        "userType": 1,
        "userStatus": 1,
        "profilePicture": "Images/023d1a36-ef5e-4248-a9a1-900069fe3f28.png",
        "coverPicture": "Images/0e773003-964f-42c8-b591-b33fa0563a85.png",
        "enablefollowme": True,
        "sendmenotifications": True,
        "sendTextmessages": False,
        "enabletagging": False,
        "createdAt": "2019-12-26T06:22:36.1180762",
        "updatedAt": "2019-12-26T06:29:14.6591852",
        "livelng": 0,
        "livelat": 0,
        "liveLocation": None,
        "creditBalance": 18,
        "myCash": 0
    },

In [13]:
import json
b = json.dumps(a)
print(b)

[{"id": 3041, "name": "Martin Wilson", "email": "ravencomputer667@gmail.com", "password": "martin@123", "about": "Travelers, ", "token": "18ceb759-241c-43d3-a9eb-5344ea2ef1d9", "country": null, "location": "Moorgate Station (Stop N), London EC2Y 5EJ, UK", "lng": 0, "lat": 0, "dob": "2019-12-11T12:29:13", "gender": 1, "userType": 1, "userStatus": 1, "profilePicture": "Images/023d1a36-ef5e-4248-a9a1-900069fe3f28.png", "coverPicture": "Images/0e773003-964f-42c8-b591-b33fa0563a85.png", "enablefollowme": true, "sendmenotifications": true, "sendTextmessages": false, "enabletagging": false, "createdAt": "2019-12-26T06:22:36.1180762", "updatedAt": "2019-12-26T06:29:14.6591852", "livelng": 0, "livelat": 0, "liveLocation": null, "creditBalance": 18, "myCash": 0}]

In [14]:
c = json.loads(b)
print(c)

[{'id': 3041, 'name': 'Martin Wilson', 'email': 'ravencomputer667@gmail.com', 'password': 'martin@123', 'about': 'Travelers, ', 'token': '18ceb759-241c-43d3-a9eb-5344ea2ef1d9', 'country': None, 'location': 'Moorgate Station (Stop N), London EC2Y 5EJ, UK', 'lng': 0, 'lat': 0, 'dob': '2019-12-11T12:29:13', 'gender': 1, 'userType': 1, 'userStatus': 1, 'profilePicture': 'Images/023d1a36-ef5e-4248-a9a1-900069fe3f28.png', 'coverPicture': 'Images/0e773003-964f-42c8-b591-b33fa0563a85.png', 'enablefollowme': True, 'sendmenotifications': True, 'sendTextmessages': False, 'enabletagging': False, 'createdAt': '2019-12-26T06:22:36.1180762', 'updatedAt': '2019-12-26T06:29:14.6591852', 'livelng': 0, 'livelat': 0, 'liveLocation': None, 'creditBalance': 18, 'myCash': 0}]

In [19]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [20]:
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [21]:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

## Python RegEx

In [24]:
import re

txt = "The rain in Spain"
x = re.search("[a-e]", txt)
if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [28]:
sp = re.split('/t',"The rain in Spain")
sp

['The rain in Spain']

### Try Except

In [ ]:
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")