## Introduction to python

In [1]:
print('Hello world')# first code in python

Hello world

In [3]:
#python indentation =='space'
if 5 > 2:
    print("Five is greater than two!")# indentation spaces are important in python just click tab 4 times

Five is greater than two!

In [5]:
if 5 > 2:# a conditional statement
    print("Five is greater than two!")

Five is greater than two!

### python variable
Python variables are created when you assign a name to an input

In [6]:
# = is used to assign variable names

name = 'Oluwadara'
name

'Oluwadara'

In [12]:
print(name)

Oluwadara

In [7]:
sex ='Female'
number = 5

sex

'Female'

In [8]:
number

5

In [11]:
# in python we use # hashtags to pass comments on our codes
2+2

4

In [14]:
#3+3 commenting is uesd to prevent execution too

In [15]:
# Python will ignore this line of code becaues of the #(hashtag)
print('Hello there')#printing hello there

Hello there

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")# notice that there was no o

Cheers, Mate!

In [20]:
'''
I can have a multiline string text
I can write an explanation 
of codes here
single quotes
'''
print('hey')

hey

In [25]:
"""
hello world, multi line comments 
can be in double quotes too

"""
5+5

10

### Python variables

In [27]:
john=50
y= john

In [28]:
y

50

In [29]:
# assignment of string
a='apple'
print(a)

apple

In [30]:
# variable can change even after assignment
a='banana'
a

'banana'

### casting

In [31]:
b = str(4.0)
c= int(4.0)
d= float(4)

In [33]:
e= int(b)
print(e)

ValueError: invalid literal for int() with base 10: '4.0'

In [36]:
num = int(input('Enter a number: '))

type(num)

Enter a number: b

ValueError: invalid literal for int() with base 10: 'b'

In [37]:
print(b)

4.0

In [38]:
t='5'
print(type(int(t)))

<class 'int'>

In [39]:
v= str(4.0)
print(type(int(v)))

ValueError: invalid literal for int() with base 10: '4.0'

In [1]:
## Variable Naming

SyntaxError: invalid syntax (Temp/ipykernel_8388/3121537902.py, line 1)

In [2]:
age= 5
Age=10
AGE= 15
print(age)

5

In [3]:
print(Age)

10

In [4]:
print(AGE)

15

In [ ]:
# proper naming of variables
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

## Assignment of multiple variable

In [6]:
one, One,ONE = 1, 2,6
print(one)
print(One)
print(ONE)

1
2
6

In [7]:
#Unpacking of collections
garden =['flowers','vegetables','weed']
a,b,c= garden

In [8]:
print(a)
print(b)
print(c)

flowers
vegetables
weed

In [9]:
# Output Variable
# printing out multiple variables
print(a,b,c)

flowers vegetables weed

In [10]:
print(a+b+c)#+ is used for concatenating

flowersvegetablesweed

In [12]:
s,d,g='2','4','6'
print(s+d+g)

246

In [13]:
#Dont combine strings with numbers using the print statement
h=10
print(a+h)# Expect a type error

TypeError: can only concatenate str (not "int") to str

In [14]:
print(a,h)# the best way to combine strings and numbers is by seperating with a comma

flowers 10

In [15]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [16]:

def squared(x):
    return x**2

m = squared(4)
print(m)

16

In [17]:
n = squared(5)
print(n)

25

In [19]:
def add(x,y):
    return x+y
    
k = add(2,3)
print(k)

5

In [25]:
x = "awesome"
def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()
print("Python is " + x)

Python is fantastic
Python is fantastic

In [28]:
x = "awesome"

def myfunc():
    
    global x
    x = "fantastic"
    x='terrific'
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is terrific
Python is terrific

In [29]:
x=y=z='Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

## Python Datatypes
* Text : str
* Numeric: int & float, complex
* Sequence: list, tuples, range
* mapping: dict
* set: set,frozensets
* bool: bool
### Getting the datatype
to be able to print out  datatype we use the type() function

In [31]:
d= 10
type(d)

int

In [32]:
print(type(d))

<class 'int'>

In [33]:
x = "Hello World"
print(type(x))

<class 'str'>

In [34]:
x = 20.5
print(type(x))

<class 'float'>

In [5]:
num = int(input('Enter a number: '))
int_num = 0
while int_num <=12:
    ans = num* int_num
    send= ans /num
    print(' {}   /  {} =  {} '.format(ans,num,send))
    int_num = int_num + 1

Enter a number:  4

 0   /  4 =  0.0
 4   /  4 =  1.0
 8   /  4 =  2.0
 12   /  4 =  3.0
 16   /  4 =  4.0
 20   /  4 =  5.0
 24   /  4 =  6.0
 28   /  4 =  7.0
 32   /  4 =  8.0
 36   /  4 =  9.0
 40   /  4 =  10.0
 44   /  4 =  11.0
 48   /  4 =  12.0

## setting The specific Data Type
* str()
* int()
* float()
* complex()
* list()