## Cleaning Data

In [2]:
import pandas as pd#importing pandas package

#we would be using a dataset from Freecodecamp's Data analysis repository on github
data = pd.read_csv('https://raw.githubusercontent.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/master/data/sales_data.csv')
data.head()#first five rows

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [2]:
data.info()#checking the information of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [3]:
df = pd.read_csv("C:/Users/DELL/Downloads/Projects/DSN insurance/train_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7153 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7054 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   6652 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7058 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.2+ KB

In [4]:
#checking the percentage of null values
df.isnull().sum()/len(df)*100

Customer Id           0.000000
YearOfObservation     0.000000
Insured_Period        0.000000
Residential           0.000000
Building_Painted      0.000000
Building_Fenced       0.000000
Garden                0.097765
Settlement            0.000000
Building Dimension    1.480447
Building_Type         0.000000
Date_of_Occupancy     7.094972
NumberOfWindows       0.000000
Geo_Code              1.424581
Claim                 0.000000
dtype: float64

In [6]:
df.head()# first five

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

###  Cleaning empty rows

There are different ways of working with missing data and they are:

#### 1. Dropping empty rows

In [5]:
# removing empty rows
df1 = df.dropna()

In [6]:
df1.shape

(6543, 14)

In [9]:
7160-6543# total amount of deleted columns

617

In [7]:
#dropna() is only temporal, if you want a permanent effect use the"inplace=True" attribute

df1 = df.dropna(inplace=True)

### Handling missing values/null values
There are different ways of handling missing values or null values

#### 1. Replace the empty values using fillna()

In [17]:
#fillna is used to fill in missing values in a dataset
# df.fillna(20,inplace=True)

In [23]:
df['Date_of_Occupancy'].unique()

array([1960., 1850., 1800., 1980., 1988., 2013., 2011., 1550., 1900.,
       2007., 1970., 1950., 1700., 1976., 1940., 1920., 1982., 1972.,
       2010., 1971., 1995., 2006., 1999., 1969., 1985., 1965., 1981.,
       1975., 1997., 2003., 1990., 1930., 1973., 1991., 1974., 1978.,
       1967., 1927., 1952., 1957., 2009., 1977., 1890., 1949., 1951.,
       2008., 1987., 2000., 1962., 1956., 1993., 1912., 1983., 1954.,
       1968., 2004., 1936., 1958., 1966., 1953., 1979., 1946., 1955.,
       2001., 1870., 1961., 2015., 1613., 1964., 1984., 2014., 2002.,
       1986., 1992., 2005., 2012., 1910., 1945., 1864., 1942., 1939.,
       1934., 1998., 1908., 1948., 1860., 1926., 1938., 1895., 1545.,
       1959., 1989., 1996., 1963., 1840., 2016., 1718., 1600., 1875.,
       1898., 1880., 1915., 1994., 1810., 1937., 1907., 1931., 1925.,
       1935., 1824., 1914., 1750., 1846., 1903., 1905., 1906., 1830.,
       1923., 1924., 1928., 1947., 1911., 1901., 1902., 1904., 1919.,
       1896., 1913., 1893., 1820., 1884., 1871., 1780., 1929.])

In [8]:
df['Garden'].unique()

array(['V', 'O'], dtype=object)

In [21]:
df['Garden'].value_counts()

O    3602
V    2941
Name: Garden, dtype: int64

#### 2. Columns specific replacement
You can work on specific columns in the dataset

In [24]:
df['Date_of_Occupancy'].fillna(2001,inplace =True)# indicate the name of the column nd use the fillna() method

### 3. Replace the values with the mean, median or the mode

In [29]:
df['Garden'].mode()[0]# mode

'O'

In [ ]:
df['Building Dimension'].median()# median

In [ ]:
df['YearOfObservation'].mean()#mean